.DS_Store
xcuserdata/
build/
DerivedData/
*.xcuserstate
_
.stamp
obj
.theos
*.o

RecordMyScreen.xcodeproj/project.xcworkspace/xcuserdata/truehybridx.xcuserdatad/UserInterfaceState.xcuserstate

RecordMyScreen.xcodeproj/project.xcworkspace/xcuserdata/truehybridx.xcuserdatad/UserInterfaceState.xcuserstate

RecordMyScreen.xcodeproj/project.xcworkspace/xcuserdata/truehybridx.xcuserdatad/UserInterfaceState.xcuserstate
